<a href="https://colab.research.google.com/github/Kuz77/dz_sem_10_python/blob/main/%D0%B4%D0%B7_%D1%81%D0%B5%D0%BC%D0%B8%D0%BD%D0%B0%D1%80_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

| Задание 44 |

В ячейке ниже представлен код генерирующий DataFrame, которая состоит всего из 1 столбца. Ваша задача перевести его в one hot вид. Сможете ли вы это сделать без get_dummies?

import random

lst = ['robot'] * 10

lst += ['human'] * 10

random.shuffle(lst)

data = pd.DataFrame({'whoAmI'lst})

data.head()

In [ ]:
import random
import pandas as pd
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
data.head()

In [ ]:
datanew = pd.get_dummies(data['whoAmI'])
print(datanew)

    human  robot
0       1      0
1       0      1
2       0      1
3       0      1
4       1      0
5       0      1
6       1      0
7       0      1
8       1      0
9       0      1
10      0      1
11      1      0
12      1      0
13      1      0
14      0      1
15      1      0
16      0      1
17      1      0
18      0      1
19      1      0

In [ ]:
data = {'robot': [random.randint(0, 1) for _ in range(10)],
        'human': [random.randint(0, 1) for _ in range(10)]}

for i in range(len(data['robot'])):
    if data['robot'][i] == 1:
        data['human'][i] = 0
    else:
        data['human'][i] = 1

df = pd.DataFrame(data)
print(df)

   robot  human
0      0      1
1      1      0
2      0      1
3      1      0
4      0      1
5      0      1
6      1      0
7      1      0
8      1      0
9      0      1